.AccountContainer {
  display: flex;
  padding-top: 150px;
}

.LeftSideAccountContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.ProfileContainerTopLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #00c6ff; /* CyberPunk blue color */
  background-color: rgba(0, 198, 255, 0.2); /* Light blue background */
  border-radius: 8px;
  padding: 100px;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.ProfileContainerTopLeft h1 {
  margin: 0;
  color: #00c6ff; /* CyberPunk blue color */
}

.NavbarBelowProfileContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profileButtons button {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #1a1a1a; /* Dark background */
  color: #00c6ff; /* CyberPunk blue color */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 25px;
}

.profileButtons button:hover {
  background-color: #333; /* Darker background on hover */
}

.RightSideAccountContainer {
  display: flex;
  margin-top: 20px;
  border: 2px solid #00c6ff; /* CyberPunk blue color */
  background-color: rgba(0, 198, 255, 0.2); /* Light blue background */
  border-radius: 8px;
  padding: 60px;
  font-size: 25px;
}

.NavContentsContainerRight {
  display: flex;
}

.NavContentsContainerRight form {
  display: grid;
  gap: 15px;
}

.NavContentsContainerRight div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NavContentsContainerRight input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #333; /* Dark border */
  border-radius: 4px;
  background-color: #1a1a1a; /* Dark background */
  color: #00c6ff;
  margin-top: 5px;
  margin-left: 10%;
  font-size: 25px;
}

.NavContentsContainerRight button {
  background-color: #1a1a1a; /* Green color */
  color: #00c6ff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 25px;
}

.NavContentsContainerRight button:hover {
  background-color: #333; /* Darker green color on hover */
}




  
  
  
  
  
  
  