@font-face {
  font-family: 'Novecento-Medium'; 
  src: url('../src/fonts/Novecento\ Medium.ttf');  
}

@font-face {
  font-family: 'Noto-Reguler';
  src: url('../src/fonts/NotoSansDisplay-Regular.ttf');
}

.AccountContainer {
  display: flex;
  padding-top: 150px;
}

.LeftSideAccountContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.ProfileContainerTopLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #00c6ff;
  background-color: rgba(0, 198, 255, 0.2);
  border-radius: 8px;
  padding: 100px;
  background: 
    repeating-linear-gradient(
      to bottom,
      rgba(135,206,235,0.5),
      rgba(135,206,235,0.5) 2px,
      rgba(173,216,230,0.5) 2px,
      rgba(173,216,230,0.5) 4px
    );
  box-shadow: 0 0 5px #00c6ff,
              0 0 15px #00c6ff,
              0 0 25px #00c6ff,
              0 0 35px #00c6ff;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.ProfileContainerTopLeft h1 {
  margin: 0;
  color: white;
}

.NavbarBelowProfileContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profileButtons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profileButtons button {
  font-family: 'Novecento-Medium';
  padding: 10px;
  margin-bottom: 5px;
  background: linear-gradient(to bottom, #000611, #06132a);
  color: white;
  border: 2px solid #00c6ff;
  cursor: pointer;
  border-radius: 15px;
  font-size: 25px;
  box-shadow: 0px 0px 10px #00c6ff;
  transition: transform 0.3s ease-in-out;
}

.profileButtons button:hover {
  transform: scale(0.95); 
}

.RightSideAccountContainer {
  font-family: 'Novecento-Medium';
  flex-grow: 0.77;
  display: flex;
  margin-top: 20px;
  border: 2px solid #00c6ff;
  background-color: rgba(0, 198, 255, 0.2);
  border-radius: 8px;
  padding: 60px;
  font-size: 25px;
  background: 
    repeating-linear-gradient(
      to bottom,
      rgba(135,206,235,0.5),
      rgba(135,206,235,0.5) 2px,
      rgba(173,216,230,0.5) 2px,
      rgba(173,216,230,0.5) 4px
    );
  box-shadow: 0 0 5px #00c6ff,
              0 0 15px #00c6ff,
              0 0 25px #00c6ff,
              0 0 35px #00c6ff;
}

.NavContentsContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NavContentsContainerRight form {
  display: grid;
  gap: 15px;
}

.NavContentsContainerRight div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.NavContentsContainerRight input {
  width: 200%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #e1f7fd;
  margin-top: 5px;
  margin-left: 10%;
  font-size: 20px;
  font-family: 'Novecento-Medium';
}

.styled-button {
  padding: 10px;
  margin-bottom: 5px;
  background: linear-gradient(to bottom, #000611, #06132a);
  color: white;
  border: 2px solid #00c6ff;
  cursor: pointer;
  border-radius: 15px;
  font-size: 25px;
  box-shadow: 0px 0px 10px #00c6ff;
  transition: transform 0.3s ease-in-out;
  width: 300px;
  margin: 0 10px; 
}

.styled-button:hover {
  transform: scale(0.95);
}

.NavContentsContainerRight button {
  background-color: #1a1a1a;
  align-self: flex-start;
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Novecento-Medium';
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.input-label {
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #000611, #06132a);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form button[type="submit"] {
  align-self: flex-start;
  margin-top: 20px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.LeftSideAccountContainer {
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.RightSideAccountContainer {
  animation: slideInRight 1s ease-in-out;
}

.OrderHistory {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  font-family: 'Novecento-Medium';
  flex: 0 0 calc(100% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background: 
    repeating-linear-gradient(
      to bottom,
      rgb(33, 183, 243),
      rgb(33, 183, 243) 1px,
      rgba(173,216,230,0.5) 1px,
      rgba(173,216,230,0.5) 2px
    );
  box-shadow: 0 0 5px #00c6ff,
    0 0 15px #00c6ff,
    0 0 25px #00c6ff,
    0 0 35px #00c6ff;
  padding: 10px; 
  border-radius: 10px; 
  border: white;
  width: 60%;
  height: 200px;
  font-weight: 200;
  color: #d4edf4;
}

.OrderHistory h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.OrderHistory ul {
  list-style: none;
  padding: 0;
}

.OrderHistory li {
  flex: 1 0 auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .OrderHistory button {
    /* Adjust the size as needed */
    padding: 10px 20px;
    font-size: 16px;
  }
}

.OrderHistory details {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a1a1a;
}

.OrderHistory summary {
  cursor: pointer;
  font-weight: bold;
}

.OrderHistory ul {
  padding-left: 20px;
}

.OrderHistory img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid #00c6ff;
  border-radius: 5px;
}

.OrderHistory p {
  margin: 0;
}

.OrderHistory .itemName {
  font-weight: bold;
  color: #007bff;
  font-size: 16px;
}

