.Account {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: linear-gradient(to right, #000, #001f3f);
  }
  
  .account-container {
    border: 1px solid #ccc;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    width: 600px;
    margin-top: 200px;
    background-color: #ffffff28; /* Set your desired background color */
    transition: height 0.3s ease; /* Smooth transition for height changes */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .user-profile img {
    width: 100px; /* Set your desired profile picture width */
    height: 100px; /* Set your desired profile picture height */
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 60px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .account-button {
    flex: 1;
    background-color: #007bff; /* Set your desired button background color */
    color: #fff; /* Set your desired button text color */
    font-size: 40px;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .account-button img {
    margin-right: 10px;
    width: 60px; /* Set your desired cart image width */
    height: 60px; /* Set your desired cart image height */
  }
  
  .wishlist-dropdown,
  .balance-dropdown {
    display: none;
    background-color: #f9f9f9; /* Set your desired dropdown background color */
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .account-button:hover + .wishlist-dropdown,
  .account-button:hover + .balance-dropdown,
  .balance-dropdown:hover {
    display: block;
  }
  
  .wishlist-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .wishlist-dropdown li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .wishlist-dropdown li:last-child {
    border-bottom: none;
  }
  
  .balance-dropdown p {
    margin-bottom: 10px;
  }
  
  .balance-dropdown input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  
  
  
  
  