@font-face {
  font-family: 'Butler-Medium';  /* you can choose any name */
  src: url('../src/fonts/Butler_Medium_Stencil.otf');  /* replace with the actual path to your font file */
}

@font-face {
  font-family: 'Noto-Reguler';  /* you can choose any name */
  src: url('../src/fonts/NotoSansDisplay-Regular.ttf');  /* replace with the actual path to your font file */
}

@font-face {
  font-family: 'Noto-Light';  /* you can choose any name */
  src: url('../src/fonts/NotoSansDisplay-Light.ttf');  /* replace with the actual path to your font file */
}

@font-face {
  font-family: 'Cyberpunk';  /* you can choose any name */
  src: url('../src/fonts/Cyberpunk.ttf');  /* replace with the actual path to your font file */
}

body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Noto-Reguler';
  background: linear-gradient(to right, #000, #001f3f);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.secondHeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 15px;
}

.mainheader {
  background: linear-gradient(to right, #000, #001f3f);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondSmallerHeader {
  display: flex;
  margin-top: 55px;
  background: linear-gradient(to right, #0c0b0b, #04315e);
  color: white;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.leftSideContainer {
  display: flex;
}

.rightSideContainer {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  width: 30px;
}

.search-container, .cart-container {
  display: flex;
}

Link {
  margin-left: 15px;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.signup, .account {
  margin-left: 15px;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  border: white;
  opacity: 0.5;
  font-size: large;
  border-radius: 10px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 8px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button img,.cart-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.cart-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cart-text {
  margin-left: 5px;
}

.secondSmallerHeader button {
  display: flex;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background-section {
  position: relative;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 55px;
}

.background-section::before {
  content: "";
  background: url('../src/pics/Background_Imgs/loginpagebg2.png');
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}


.background-left, .background-right {
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.background-left {
  background-image: url('./pics/Background_Imgs/element1.png');
  background-size: 40%;
  background-position: left;
}

.background-right {
  background-image: url('./pics/Background_Imgs/element1.png');
  background-size: 40%;
  background-position: right;
}

.background-middle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.background-middle img {
  margin-top: 200px;
  max-width: 100%;
  height: auto;
}

.thick-line {
  border: none;
  height: 7px;
  background: #00c6ff;
  margin: 0;
  z-index: 2;
}


.Featured {
  font-family: 'Cyberpunk';
  background: url('../src/pics/Background_Imgs/loginpagebg2.png');
  background-size: cover;
  background-position: center top;
  opacity: 1;
  display: flex;
  color: white;
  font-size: 4.9rem;
  text-align: left;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}

.Recommended {
  font-family: 'Cyberpunk';
  background: url('../src/pics/Background_Imgs/loginpagebg2.png');
  background-size: cover;
  background-position: center top;
  opacity: 1;
  display: flex;
  color: white;
  font-size: 4.9rem;
  text-align: left;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}

.AllPreview {
  font-family: 'Cyberpunk';
  background: url('../src/pics/Background_Imgs/loginpagebg2.png');
  background-size: cover;
  background-position: center top;
  opacity: 1;
  display: flex;
  color: white;
  font-size: 4.9rem;
  text-align: left;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}

.mainItemCards {
  display: flex;
  padding: 10px;
}

.itemCardContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: linear-gradient(to right, #000, #001f3f);
  padding: 30px;
  margin: 20px 0;
  height: 100%;
}

.itemCard {
  flex: 0 0 auto;
  margin-right: 20px;
  background: 
    repeating-linear-gradient(
      to bottom,
      rgb(33, 183, 243),
      rgb(33, 183, 243) 1px,
      rgba(173,216,230,0.5) 1px,
      rgba(173,216,230,0.5) 2px
    );
    box-shadow: 0 0 5px #00c6ff, /* Inner glow */
    0 0 15px #00c6ff, /* Middle glow */
    0 0 25px #00c6ff, /* Outer glow */
    0 0 35px #00c6ff;
  padding: 10px; 
  border-radius: 10px; 
  border: white;
  width: 250px;
  height: 200px;
}

.itemCard img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.itemCard p {
  margin: 0;
  color: white;
  word-wrap: break-word;
}

.showAllButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.showAllButton button {
  background: rgba(255, 255, 255, 0.178);
  color: white;
  border: none;
  width: 250px;
  height: 222px;
  border-radius: 10px;
  font-size: 50px;
  cursor: pointer;
}

.ElementAboveFeatured{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 1;
    z-index: 1;
    width: 65%;
    top: 124%;
    left: -10%;
}

.ElementAboveFeatured img{
  width: 100%;
  height: 95px;
}

.ElementAboveRecommended{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 1;
  z-index: 1;
  width: 65%;
  top: 188%;
  left: -10%;
}

.ElementAboveRecommended img{
width: 100%;
height: 95px;
}

.ElementAboveToday{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 1;
  z-index: 1;
  width: 65%;
  top: 251.9%;
  left: -10%;
}

.ElementAboveToday img{
width: 100%;
height: 95px;
}


footer {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, #000611, #06132a); /* subtle gradient from dark grey-blueish to really dark grey */
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 2px #00c6ff, 0 0 12px #00c6ff, 0 0 22px #00c6ff, 0 0 32px #00c6ff; /* neon glowing outline */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  position: relative;
}

li::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00c6ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  box-shadow: 0 0 10px #00c6ff, 0 0 20px #00c6ff, 0 0 30px #00c6ff, 0 0 40px #00c6ff;
}

li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, #06132a, #000611);
  padding-bottom: 15px;
}

a:hover {
  text-decoration: underline;
}

h2 {
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00c6ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  box-shadow: 0 0 10px #00c6ff, 0 0 20px #00c6ff, 0 0 30px #00c6ff, 0 0 40px #00c6ff;
}

h2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

