
body {
  margin: 0;
}

.App {
  text-align: center;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.secondHeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mainheader {
  background: linear-gradient(to right, #000, #001f3f);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondSmallerHeader {
  display: flex;
  margin-top: 55px;
  background: linear-gradient(to right, #0c0b0b, #04315e);
  color: white;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

.leftSideContainer {
  display: flex;
}

.rightSideContainer {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  width: 30px;
}

.search-container, .cart-container {
  display: flex;
}

.signup {
  margin-left: 15px;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  border: white;
  opacity: 0.5;
  font-size: large;
  border-radius: 10px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 8px;
}

.search-button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button img,.cart-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.cart-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.cart-text {
  margin-left: 5px;
}

.secondSmallerHeader button {
  display: flex;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.background-section {
  background: linear-gradient(to right, #000, #001f3f);
  opacity: 1;
  position: relative;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin-top: 55px;
}

.background-left, .background-right {
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.background-left {
  background-image: url('./pics/Background_Imgs/MainPageLeftBG.png');
  background-size: 37.5%;
  background-position: left;
}

.background-right {
  background-image: url('./pics/Background_Imgs/MainPageRightBG.png');
  background-size: 40%;
  background-position: right;
}

.background-middle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.background-middle img {
  margin-top: 200px;
  max-width: 100%;
  height: auto;
}