
body {
  margin: 0;
}

.App {
  text-align: center;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(to right, #000, #001f3f);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
}

.search-container, .cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup {
  margin-right: 15px;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  margin-right: 5px;

}


input[type="text"] {
  padding: 8px;
  margin-right: 8px;
}

.search-button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button img,.cart-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.cart-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0074cc;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.cart-text {
  margin-left: 5px;
}

.background-section {
  background: linear-gradient(to right, #000, #001f3f);
  opacity: 1;
  position: relative;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.background-left, .background-right {
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
}

.background-left {
  background-image: url('./pics/Background_Imgs/MainPageLeftBG.png');
  background-size: 37.5%;
  background-position: left;
}

.background-right {
  background-image: url('./pics/Background_Imgs/MainPageRightBG.png');
  background-size: 40%;
  background-position: right;
}

.background-middle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.background-middle img {
  margin-top: 200px;
  max-width: 100%;
  height: auto;
}