@font-face {
    font-family: 'Butler-Medium'; 
    src: url('../src/fonts/Butler_Medium_Stencil.otf'); 
}

@font-face {
    font-family: 'Noto-Reguler';  
    src: url('../src/fonts/NotoSansDisplay-Regular.ttf'); 
}

@font-face {
    font-family: 'Noto-Light';
    src: url('../src/fonts/NotoSansDisplay-Light.ttf');  
}

@font-face {
    font-family: 'Cyberpunk'; 
    src: url('../src/fonts/Cyberpunk.ttf');
}

.LoginSign {
    background: url('../src/pics/Background_Imgs/loginpagebg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120%;
    position: absolute;
}

.Logincontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 500px;
    margin-top: 50px;
    height: 600px;
    width: 470px;
    background: 
    repeating-linear-gradient(
      to bottom,
      rgba(135,206,235,0.5),
      rgba(135,206,235,0.5) 2px,
      rgba(173,216,230,0.5) 2px,
      rgba(173,216,230,0.5) 4px
    );
    box-shadow: 0 0 5px #00c6ff,
              0 0 15px #00c6ff,
              0 0 25px #00c6ff,
              0 0 35px #00c6ff;
  }
  
  .LoginVectorUp {
    position: absolute;
    z-index: 2;
    top: -5%;
    left: -5%;
    height: 25%;
    width: 110%;
  }
  
  .LoginVectorDown{
    position: absolute;
    z-index: 2;
    left: -5%;
    bottom: -5%;
    height: 25%;
    width: 110%;
  }
  

.text{
    color: #edf4ff;
    font-size: 27px;
    font-weight: 700;
    font-family: 'Noto-Reguler'; 
    text-shadow: 0 0 1px #c6edf8, 0 0 11px #c6edf8, 0 0 21px #c6edf8, 0 0 31px #c6edf8;
}

.underline{
    width: 420px;
    height: 6px;
    background: 
    repeating-linear-gradient(
      to bottom,
      rgba(135,206,235,0.5),
      rgba(135,206,235,0.5) 2px,
      rgba(173,216,230,0.5) 2px,
      rgba(173,216,230,0.5) 4px
    );
    border-radius: 9px;
}

.inputs{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 420px;
    height: 50px;
    background: #111;
    border-radius: 6px;
}

.input img{
    margin:  0px 30px;
}

.input input{
    height: 30px;
    width: 100%;
    background: #111;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    font-family: 'Noto-Reguler';
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    margin-right: 40px;
    color: white;
    font-size: 18px;
    font-family: 'Noto-Light';
}

.forgot-password span{
    color: #569fff;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin-top: 27px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    width: 180px;
    height: 45px;
    color: #fff;
    background: linear-gradient(to bottom, #000611, #06132a);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto-Reguler';
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.submit:hover {
    transform: scale(0.9);
    color: #00c6ff;
    box-shadow: 0 0 10px #00c6ff, 0 0 20px #00c6ff, 0 0 30px #00c6ff, 0 0 40px #00c6ff; 
}

.gray{
    background: #111;
    color: white;
}

.RightSideContainer {
    position: absolute;
    margin-left: 60%;
    top: 0;
    height: 115vh;
}

.RightSideContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.WebTitle {
    display: flex;
    justify-content: flex-start;
    margin-left: 190px;
    margin-top: 20px;
    font-family: 'Butler-Medium';
    font-size: 2.87em; 
    font-weight: bold;  
    color: #e0e0e0;  
    text-align: center;
    max-width: 60%;
}

.WebTitle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    color: #00c6ff;
    margin-right: 20px;
    position: absolute;
    bottom: 40%;
    right: 10%; 
    font-size: 80px;
    font-family: 'Cyberpunk';
    text-shadow: 0 0 4px #00c6ff,
              0 0 14px #00c6ff,
              0 0 24px #00c6ff,
              0 0 34px #00c6ff;
  }

  .WebTitle3 {
    position: absolute;
    display: flex;
    color: rgba(224, 221, 221);
    position: absolute;
    bottom: 30%;
    right: 10%;
    font-size: 80px;
    font-family: 'Cyberpunk';
    text-shadow: 0 0 4px #edfbff,
              0 0 14px #edfbff,
              0 0 24px #edfbff,
              0 0 34px #edfbff;
  }

.Element5 {
    right: 650px;
    position: absolute;
    top: 40%;
    z-index: 3;
    transform: rotate(90deg);
}

.Element5 img {
    width: 30%;
    height: auto;
    filter: sepia(100%) saturate(200%) hue-rotate(160deg);
}

@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .Logincontainer, .WebTitle {
    animation: slideInLeft 1s ease-in-out;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .RightSideContainer,
  .WebTitle2,
  .WebTitle3 {
    animation: slideInRight 1s ease-in-out;
  }
  
  
