.TermsStuff {
    max-width: 800px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
  
  /* Style for the heading */
.TermsStuff  h1, h2 {
    color: #ffffff;
  }
  
  /* Style for the paragraph */
.TermsStuff p {
    color: #ffffff;
    line-height: 1.5;
  }